# Secrets
.env
streamlit/secrets.toml
api

# Virtual Environment
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Hugging Face cache
.cache/

# OS files
.DS_Store
Thumbs.db

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Build
dist/
build/
*.egg-info/